.bg-darker {
  background-color: #78797a !important;
}

.bg-dark-light {
  background-color: #f4f5f6 !important;
}

.bg-light-dark {
  background-color: #fcfdfe !important;
}

.text-white {
  color: #fffd;
}

.suite-details p.h1,
.suite-details p.h4{
  color: #212529;
}
