<div class="bg-light-dark py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="display-5 mb-4">Pricing</h1>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body py-4">

                        <h3 class="pricing-heading">Individual Subscription*</h3>
                        <hr />
                        <p class="my-2">Single user</p>
                        <p class="my-2">Free upgrades</p>
                        <p class="my-2">1GB Storage</p>
                        <hr />
                        <h3>FREE!</h3>
                        <p class="text-muted small">
                            * netRink Personal users fall under the Individual Subscription plan, and thereby use the product free of charge
                        </p>
                        <hr />
                        <a href="#">
                            <button class="btn btn-lg btn-primary pricing-button">Register</button>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body py-4">

                        <h3 class="pricing-heading">Small Team Subscription</h3>
                        <hr />
                        <p class="my-2">10 users</p>
                        <p class="my-2">Free upgrades</p>
                        <p class="my-2">Technical support</p>
                        <p class="my-2">50GB Storage</p>
                        <hr />
                        <h3>$19.99/month</h3>
                        <h5>$199.99/year</h5>
                        <h5 class="text-muted">save $39.89</h5>
                        <hr />
                        <a href="#">
                            <button class="btn btn-lg btn-primary pricing-button">Subscribe</button>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body py-4">

                        <h3 class="pricing-heading">Large Team Subscription</h3>
                        <hr />
                        <p class="my-2">50 users</p>
                        <p class="my-2">Free upgrades</p>
                        <p class="my-2">Technical support</p>
                        <p class="my-2">2TB Storage</p>
                        <hr />
                        <h3>$74.99/month</h3>
                        <h5>$749.99/year</h5>
                        <h5 class="text-muted">save $149.89</h5>
                        <hr />
                        <a href="#">
                            <button class="btn btn-lg btn-primary pricing-button">Subscribe</button>
                        </a>

                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body py-4">

                        <h3 class="pricing-heading">Comprehensive Subscription**</h3>
                        <hr />
                        <p class="my-2">Unlimited users</p>
                        <p class="my-2">Free upgrades</p>
                        <p class="my-2">Technical support</p>
                        <p class="my-2">Unlimited Storage</p>
                        <p class="my-2">Customized functions</p>
                        <hr />
                        <p class="text-muted small">
                            ** Final pricing depends on number of users and range of customized features
                        </p>
                        <hr />
                        <a href="#">
                            <button class="btn btn-lg btn-primary pricing-button">Contact Us</button>
                        </a>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
