<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row mb-3">
        <div class="col-md-12">
            <smart-button #newCalendarButtonReference routerLink="/home/calendar/new-calendar">New Calendar</smart-button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <smart-grid #appointmentsGridReference class="w-100"
            [dataSource]="dataSource" [columns]="columns" [sorting]="sorting"
            (onRowDoubleClick)="viewCalendar($event)">
            </smart-grid>
        </div>
    </div>

</div>

<!-- printing components -->

<app-all-calendar-print #allCalendarPrintComponentReference
[hidden]="true" [calendarGridData]="calendarGridData">
</app-all-calendar-print>

<!-- connection error prompt component -->

<app-connection-prompt #connectionPromptComponentReference></app-connection-prompt>
