<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row page-form">

        <div class="col-md-12">
            <h4>Roster Details</h4>
        </div>

        <div class="col-md-6">

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-end">Roster ID :</label></div>
                <div class="col-md-8">
                    <smart-input #rosterCodeInputReference class="w-100"></smart-input>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-end">Roster Name :</label></div>
                <div class="col-md-8">
                    <smart-input #rosterNameInputReference class="w-100"></smart-input>
                </div>
            </div>

        </div>

    </div>

    <hr class="top-divider" />
    <hr class="bottom-divider" />

    <div class="row">

        <div class="col-md-6">

            <h4>Roster Batches</h4>

            <div class="row mb-2">
                <div class="col-md-12">
                    <smart-button #addBatchButtonReference>Add Batch</smart-button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <smart-grid #batchesGridReference class="w-100 h-auto"
                    [dataSource]="dataSource" [columns]="columns" [editing]="editing">
                    </smart-grid>
                </div>
            </div>

        </div>

        <div class="col-md-6">

            <!-- manage personnel component -->

            <app-manage-personnel #managePersonnelComponentReference></app-manage-personnel>

        </div>

    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
