<div #printElementReference class="container">

    <div class="row">
        <div class="col">

            <table class="table table-sm w-100">
                <thead>
                    <tr>
                        <th>Budget ID</th>
                        <th>Budget Name</th>
                        <th>Budget Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of budgetGridData">
                        <td>{{data.budget_code}}</td>
                        <td>{{data.budget_name}}</td>
                        <td>{{data.budget_type}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
