<div class="bg-dark-light py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h1 class="display-5 mb-4">About</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="h3">{{suiteName}}</p>
                <p>{{suiteDetails}}</p>
                <p class="h3">netRink</p>
                <p>At netRink, we provide effective and professionally designed management tools that allow individuals, organizations, institutions and many more to go about their day to day activities with simplicity and much ease. netRink's products provide everything you will ever need for effective management. We are deeply dedicated to what we do and strive to be the best in the industry.</p>
            </div>

            <div class="col-md-6">
                <p class="text-center h3 mb-3">What you get from us</p>

                <div class="card">
                    <div class="card-body p-4">
                        <img [src]="'assets/images/landing-about/quality.png'" width="80" height="80">
                        <p class="h5 d-inline ms-4">Easy to use, well built products</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-4">
                        <img [src]="'assets/images/landing-about/support.png'" width="80" height="80">
                        <p class="h5 d-inline ms-4">Dedicated and timely product support</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body p-4">
                        <img [src]="'assets/images/landing-about/upgrade.png'" width="80" height="80">
                        <p class="h5 d-inline ms-4">Free minor and major upgrades</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <button class="btn btn-lg btn-outline-primary ms-2">Watch Demo <i class="bi bi-film ms-1"></i></button>
                <button class="btn btn-lg btn-outline-primary ms-2">Download Brochure <i class="bi bi-download ms-1"></i></button>
            </div>
        </div>

    </div>
</div>
