<div class="row w-100 m-0">
    <div class="col ps-0 pe-1">
        <smart-drop-down-list #dayDropDownListReference class="w-100">
            <smart-list-item *ngFor="let day of dobDaySource" [value]="day">{{day}}</smart-list-item>
        </smart-drop-down-list>
    </div>
    <div class="col p-0">
        <smart-drop-down-list #monthDropDownListReference class="w-100">
            <smart-list-item *ngFor="let month of dobMonthSource" [value]="month">{{month}}</smart-list-item>
        </smart-drop-down-list>
    </div>
    <div class="col ps-1 pe-0">
        <smart-drop-down-list #yearDropDownListReference class="w-100">
            <smart-list-item *ngFor="let year of dobYearSource" [value]="year">{{year}}</smart-list-item>
        </smart-drop-down-list>
    </div>
</div>