<button [hidden]="true" #buttonElementReference data-bs-toggle="modal" data-bs-target="#addExpenditureModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="addExpenditureModal" tabindex="-1" aria-labelledby="addExpenditureModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="page-form" [formGroup]="addExpenditureForm" (ngSubmit)="saveExpenditure()">

                <div class="modal-header bg-light">
                    <span class="modal-title" id="addExpenditureModalLabel">Add Expenditure</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="float-end mt-1">Item No. :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="itemNumber" type="number" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="float-end mt-1">Item Description :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="itemDescription" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="float-end mt-1">Amount :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="amount" type="number" class="form-control form-control-sm w-100">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>
