<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-7">

            <div class="row mb-3 page-form">
                <div class="col-md-3"><label class="float-end mt-1">Subject :</label></div>
                <div class="col-md-7">
                    <input class="form-control form-control-sm w-100" [(ngModel)]="subject">
                </div>
            </div>

            <!-- ==============================
            editor component comes here
            ============================== -->

            <div class="row mb-3 page-form">
                <div class="col-md-12">
                    <button class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/notes/all-notes">Cancel</button>
                    <button class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="deleteNote()">Delete</button>
                    <button class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="saveNote()">Save</button>
                </div>
            </div>

        </div>

        <div class="offset-md-1 col-md-4">
            <div class="row mb-3">
                <div class="col-md-12">
                    <input #fileUploadReference type="file" requiredFileType="file" class="file-upload-element d-none" multiple (change)="onFileSelected($event) "/>
                    <button class="btn btn-secondary attachment-btn" (click)="fileUploadReference.click()">
                        Add Attachment
                        <i class="bi bi-paperclip ms-2"></i>
                    </button>
                </div>
            </div>

            <div class="row mb-2 g-1">
                <div *ngFor="let file of fileNames; index as i" class="col-md-12 mb-1">
                    <div class="btn-group w-100" role="group">
                        <button class="btn btn-outline-secondary file-name-btn" (click)="downloadFile(file.id, i)">{{formatFileName(file.file)}}</button>
                        <button class="btn btn-outline-secondary btn-sm file-delete-btn" (click)="deleteFile(file.id, i)"><i class="bi bi-trash"></i></button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- print components -->

<app-view-note-print #viewNotePrintComponentReference
[hidden]="true" [noteViewData]="noteViewData">
</app-view-note-print>
