<div class="row mb-3">
    <div class="col-md-12">
        <h5>User Access Levels</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Access</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Admin</td>
                    <td><smart-check-box #adminCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Accounts</td>
                    <td><smart-check-box #accountsCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Action Plan</td>
                    <td><smart-check-box #actionPlanCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Budget</td>
                    <td><smart-check-box #budgetCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Committees</td>
                    <td><smart-check-box #committeesCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Dues</td>
                    <td><smart-check-box #duesCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Executives</td>
                    <td><smart-check-box #executivesCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Groups</td>
                    <td><smart-check-box #groupsCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Members</td>
                    <td><smart-check-box #staffCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Portal</td>
                    <td><smart-check-box #portalCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Settings</td>
                    <td><smart-check-box #settingsCheckBoxReference></smart-check-box></td>
                </tr>
                <tr>
                    <td>Years</td>
                    <td><smart-check-box #yearsCheckBoxReference></smart-check-box></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
