<nav class="navbar navbar-expand navbar-light bg-white topbar d-block mb-4 static-top shadow">
    <div class="text-center module-heading">
        <a routerLink="./">
            <h3 class="mt-2"><i class="bi bi-house-fill me-2"></i>Home</h3>
        </a>
    </div>
</nav>

<<div class="container home-div">

    <div class="row my-3">

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #portalTooltipReference [selector]="'portal'" [arrow]="true">
                Interact with students and parents through netRink portal
            </smart-tooltip>

            <a id="portal" routerLink="/home/portal/dashboard">
                <figure>
                    <img src="assets/images/modules/portal.png" class="home-icons" />
                    <figcaption>Portal</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #parentsTooltipReference [selector]="'parents'" [arrow]="true">
                Manage relations with parents
            </smart-tooltip>

            <a id="parents" routerLink="/home/parents/dashboard">
                <figure>
                    <img src="assets/images/modules/parents.png" class="home-icons" />
                    <figcaption>Parents</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #assessmentTooltipReference [selector]="'assessment'" [arrow]="true">
                Record and process assessments
            </smart-tooltip>

            <a id="assessment" routerLink="/home/assessment/dashboard">
                <figure>
                    <img src="assets/images/modules/assessment.png" class="home-icons" />
                    <figcaption>Assessment</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #subjectsTooltipReference [selector]="'subjects'" [arrow]="true">
                Manage and organize subjects or courses
            </smart-tooltip>

            <a id="subjects" routerLink="/home/subjects/dashboard">
                <figure>
                    <img src="assets/images/modules/subjects.png" class="home-icons" />
                    <figcaption>Subjects</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #attendanceTooltipReference [selector]="'attendance'" [arrow]="true">
                Take attendance of students and teachers
            </smart-tooltip>

            <a id="attendance" routerLink="/home/attendance/dashboard">
                <figure>
                    <img src="assets/images/modules/attendance.png" class="home-icons" />
                    <figcaption>Attendance</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #studentsTooltipReference [selector]="'students'" [arrow]="true">
                Manage student profile
            </smart-tooltip>

            <a id="students" routerLink="/home/students/dashboard">
                <figure>
                    <img src="assets/images/modules/students.png" class="home-icons" />
                    <figcaption>Students</figcaption>
                </figure>
            </a>
        </div>

    </div>

    <!-- ----------------------------------------------------------------------------
    new row -->

    <div class="row my-3">

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #adminTooltipReference [selector]="'admin'" [arrow]="true">
                Manage users and access levels
            </smart-tooltip>

            <a id="admin" routerLink="/home/admin/dashboard">
                <figure>
                    <img src="assets/images/modules/admin.png" class="home-icons" />
                    <figcaption>Admin</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #reportsTooltipReference [selector]="'reports'" [arrow]="true">
                Generate students' academic reports
            </smart-tooltip>

            <a id="reports" routerLink="/home/reports/dashboard">
                <figure>
                    <img src="assets/images/modules/reports.png" class="home-icons" />
                    <figcaption>Reports</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #paymentsTooltipReference [selector]="'portal'" [arrow]="true">
                Receive payment of fees
            </smart-tooltip>

            <a id="payments" routerLink="/home/payments/dashboard">
                <figure>
                    <img src="assets/images/modules/payments.png" class="home-icons" />
                    <figcaption>Payments</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #staffTooltipReference [selector]="'staff'" [arrow]="true">
                Manage all non-teaching staff
            </smart-tooltip>

            <a id="staff" routerLink="/home/staff/dashboard">
                <figure>
                    <img src="assets/images/modules/staff.png" class="home-icons" />
                    <figcaption>Staff</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #termsTooltipReference [selector]="'terms'" [arrow]="true">
                Plan and organize terms or semesters
            </smart-tooltip>

            <a id="terms" routerLink="/home/terms/dashboard">
                <figure>
                    <img src="assets/images/modules/terms.png" class="home-icons" />
                    <figcaption>Terms</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #classesTooltipReference [selector]="'classes'" [arrow]="true">
                Manage classes and class activities
            </smart-tooltip>

            <a id="classes" routerLink="/home/classes/dashboard">
                <figure>
                    <img src="assets/images/modules/classes.png" class="home-icons" />
                    <figcaption>Classes</figcaption>
                </figure>
            </a>
        </div>

    </div>

    <!-- -----------------------------------------------------------------------
    new row -->

    <div class="row my-3">

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #settingsTooltipReference [selector]="'settings'" [arrow]="true">
                Set configuarations for your modules
            </smart-tooltip>

            <a id="settings" routerLink="/home/settings/dashboard">
                <figure>
                    <img src="assets/images/modules/settings.png" class="home-icons" />
                    <figcaption>Settings</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #feesTooltipReference [selector]="'fees'" [arrow]="true">
                Generate students' bills
            </smart-tooltip>

            <a id="fees" routerLink="/home/fees/dashboard">
                <figure>
                    <img src="assets/images/modules/fees.png" class="home-icons" />
                    <figcaption>Fees</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #timestablesTooltipReference [selector]="'timetable'" [arrow]="true">
                plan and manage academic timetables
            </smart-tooltip>

            <a id="timetable" routerLink="/home/timetables/dashboard">
                <figure>
                    <img src="assets/images/modules/timetables.png" class="home-icons" />
                    <figcaption>Timetables</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #teachersTooltipReference [selector]="'teachers'" [arrow]="true">
                Manage all teaching staff
            </smart-tooltip>

            <a id="teachers" routerLink="/home/teachers/dashboard">
                <figure>
                    <img src="assets/images/modules/teachers.png" class="home-icons" />
                    <figcaption>Teachers</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #sectionsTooltipReference [selector]="'sections'" [arrow]="true">
                Manage sections or houses
            </smart-tooltip>

            <a id="sections" routerLink="/home/sections/dashboard">
                <figure>
                    <img src="assets/images/modules/sections.png" class="home-icons" />
                    <figcaption>Sections</figcaption>
                </figure>
            </a>
        </div>

    </div>

</div>
