<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectScheduleModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectScheduleModal" tabindex="-1" aria-labelledby="selectScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectScheduleModalLabel">Select Personal Schedule</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="35%">
                                Schedule
                                <app-table-sorting #scheduleNameSortingComponentReference
                                [sortField]="'schedule_name'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                            <th width="23%">
                                Start Date
                                <app-table-sorting #startDateSortingComponentReference
                                [sortField]="'start_date'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                            <th width="23%">
                                End Date
                                <app-table-sorting #endDateSortingComponentReference
                                [sortField]="'endDate'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                            <th width="19%">
                                Status
                                <app-table-sorting #statusSortingComponentReference
                                [sortField]="'status'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of scheduleGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.schedule_name}}</td>
                            <td>{{data?.start_date | date}}</td>
                            <td>{{data?.end_date | date}}</td>
                            <td>{{data?.status}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="4">
                                <app-table-pagination #tablePaginationComponentReference
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAllSchedules($event, 10, '')"
                                ></app-table-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-toggle="modal" data-bs-target="#selectScheduleModal">
                Launch demo modal
            </button>


        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
