<button [hidden]="true" #buttonElementReference data-bs-toggle="modal" data-bs-target="#newCalendarModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="newCalendarModal" tabindex="-1" aria-labelledby="newCalendarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <form class="page-form" [formGroup]="calendarForm" (ngSubmit)="postCalendar()">

                <div class="modal-header bg-light">
                    <span class="modal-title" id="newCalendarModalLabel">Add New Calendar</span>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-1">
                        <div class="col-md-4">
                            <label class="float-end mt-1">Calendar Name :</label>
                        </div>
                        <div class="col-md-8">
                            <input formControlName="calendarName" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
                </div>

            </form>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
