<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row page-form">
        <div class="col-md-8">

            <div class="row mb-1">
                <div class="col-md-3"><label class="float-end">Recipient Name :</label></div>
                <div class="col-md-6">
                    <smart-input #nameInputReference class="w-100" [disabled]="true"></smart-input>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3"><label class="float-end">Recipient Location :</label></div>
                <div class="col-md-6">
                    <smart-input #locationInputReference class="w-100" [disabled]="true"></smart-input>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-3"><label class="float-end">Rink Type :</label></div>
                <div class="col-md-6">
                    <smart-input #typeDropDownListReference class="w-100"
                    [dataSource]="typeSource" [dropDownButtonPosition]='"right"' (change)="onTypeSelected($event)">
                    </smart-input>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-3"><label class="float-end">Rink Source :</label></div>
                <div class="col-md-6">
                    <smart-input #sourceInputReference class="page-group-input" [disabled]="true"></smart-input>
                    <smart-button #sourceButtonReference class="page-group-button" [disabled]="true" (click)="openSourceWindow()">...</smart-button>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-3"><label class="float-end">Comment :</label></div>
                <div class="col-md-6">
                    <smart-multiline-text-box #commentTextAreaReference class="w-100" enter-key-behavior="newLine" [rows]="3"></smart-multiline-text-box>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-9">
                    <smart-button #cancelButtonReference class="page-control-button float-end ms-1" routerLink="/home/portal/search">Cancel</smart-button>
                    <smart-button #sendButtonReference class="page-control-button float-end ms-1" (click)="sendRink()">Send</smart-button>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- module sect windows -->

<app-select-menu-group #selectMenuGroupComponentReference (rowSelected)="onSourceSelected($event)"></app-select-menu-group>

<app-select-menu-item #selectMenuItemComponentReference (rowSelected)="onSourceSelected($event)"></app-select-menu-item>

<app-select-staff #selectStaffComponentReference (rowSelected)="onSourceSelected($event)"></app-select-staff>

<app-select-order #selectOrderComponentReference (rowSelected)="onSourceSelected($event)"></app-select-order>

<app-select-delivery #selectDeliveryComponentReference (rowSelected)="onSourceSelected($event)"></app-select-delivery>

<app-select-customer #selectCustomerComponentReference (rowSelected)="onSourceSelected($event)"></app-select-customer>

<app-select-reservation #selectReservationComponentReference (rowSelected)="onSourceSelected($event)"></app-select-reservation>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
