<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectTaskItemModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectTaskItemModal" tabindex="-1" aria-labelledby="selectTaskItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectTaskItemModalLabel">Select Personal TaskItem</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="50%">
                                Task Item
                                <app-table-sorting #taskItemSortingComponentReference
                                [sortField]="'task_item'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                            <th width="25%">
                                Priority
                                <app-table-sorting #prioritySortingComponentReference
                                [sortField]="'priority'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                            <th width="25%">
                                Status
                                <app-table-sorting #statusSortingComponentReference
                                [sortField]="'status'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of taskItemsGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.task_item}}</td>
                            <td>{{data?.priority}}</td>
                            <td>{{data?.status}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="3">
                                <app-table-pagination #tablePaginationComponentReference
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAllTaskItems($event, 10, '')"
                                ></app-table-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-toggle="modal" data-bs-target="#selectTaskItemModal">
                Launch demo modal
            </button>


        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
