<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectTaskGroupModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectTaskGroupModal" tabindex="-1" aria-labelledby="selectTaskGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectTaskGroupModalLabel">Select Personal TaskGroup</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="65%">
                                Task Group Name
                                <app-table-sorting #taskGroupSortingComponentReference
                                [sortField]="'task_group'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                            <th width="35%">
                                Created At
                                <app-table-sorting #createdAtSortingComponentReference
                                [sortField]="'created_at'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of taskGroupsGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.task_group}}</td>
                            <td>{{data?.created_at | date}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="2">
                                <app-table-pagination #tablePaginationComponentReference
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getTaskGroups($event, 10, '')"
                                ></app-table-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-toggle="modal" data-bs-target="#selectTaskGroupModal">
                Launch demo modal
            </button>


        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
