<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-9">

            <div class="row page-form">
                <div class="col-md-9">

                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label class="float-end">Calendar Name :</label>
                        </div>
                        <div class="col-md-6">
                            <smart-input #calendarNameInputReference class="w-100"></smart-input>
                        </div>
                        <div class="col-md-3">
                            <smart-button #cancelButtonReference class="page-control-button">Save</smart-button>
                        </div>
                    </div>

                </div>
            </div>

            <smart-scheduler #scheduler id="scheduler"
                [view]="view"
                [dataSource]="dataSource"
                [firstDayOfWeek]="firstDayOfWeek"
                [disableDateMenu]="disableDateMenu"
                [currentTimeIndicator]="currentTimeIndicator"
                (onDragEnd)="putSchedule($event)"
                (onResizeEnd)="putSchedule($event)"
                (onItemInsert)="postSchedule($event)"
                (onItemUpdate)="putSchedule($event)"
                (onItemRemove)="deleteSchedule($event)"
            ></smart-scheduler>

        </div>
    </div>

</div>

<!-- printing components -->

<app-view-calendar-print #viewCalendarPrintComponentReference
[hidden]="true" [calendarFormData]="calendarFormData" [schedulesGridData]="schedulesGridData">
</app-view-calendar-print>

<!-- connection error prompt component -->

<app-connection-prompt #connectionPromptComponentReference></app-connection-prompt>
