<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row page-form">
        <div class="col-md-9">

            <form class="page-form" [formGroup]="calendarForm" (ngSubmit)="putCalendar()">

                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="float-end mt-1">Calendar Name :</label>
                    </div>
                    <div class="col-md-6">
                        <input formControlName="calendarName" class="form-control form-control-sm w-100">
                    </div>
                    <div class="col-md-3">
                        <button [disabled]="isCalendarSaving" type="submit" class="btn btn-sm btn-secondary page-form-btn">Save</button>
                    </div>
                </div>

            </form>

            <hr />

        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <!-- ===================================
            TODO: scheduler component comes here
            =================================== -->

        </div>
    </div>

</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
