<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectAccountModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectAccountModal" tabindex="-1" aria-labelledby="selectAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectAccountModalLabel">Select Personal Account</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="45%">
                                Account Name
                                <app-table-sorting #accountNameSortingComponentReference
                                [sortField]="'account_name'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                            <th width="25%">
                                Account No.
                                <app-table-sorting #accountNumberSortingComponentReference
                                [sortField]="'accountNumber'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                            <th width="30%">
                                Bank Name
                                <app-table-sorting #bankNameSortingComponentReference
                                [sortField]="'bank_name'" (sortDirection)="sortTable($event)"
                                ></app-table-sorting>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of accountsGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.account_name}}</td>
                            <td>{{data?.account_number}}</td>
                            <td>{{data?.bank_name}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="3">
                                <app-table-pagination #tablePaginationComponentReference
                                [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccounts($event, 10, '')"
                                ></app-table-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-toggle="modal" data-bs-target="#selectAccountModal">
                Launch demo modal
            </button>


        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
