<nav class="navbar navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" [routerLink]="'/'">{{navBrand}}</a>

        <div *ngIf="!isForms">
            <div *ngIf="this.isLogin; then loggedinBlock else notLoggedinBlock"></div>

            <ng-template #notLoggedinBlock>
                <div class="d-flex auth-btns">
                    <button class="btn btn-secondary ms-2" type="button" [routerLink]="'/auth/login'">Log in</button>
                    <button class="btn btn-secondary ms-2" type="button" [routerLink]="'/auth/signup'">Sign up</button>
                </div>
            </ng-template>

            <ng-template #loggedinBlock>
                <div class="dropdown">
                    <a class="btn btn-outline-light dropdown-toggle user-btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <img [src]="profilePhotoSrc" width="26" height="26" class="rounded-circle border">
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li class="ms-3 me-2">
                            <p class="lead mb-0 user-info">{{name}}</p>
                            <p class="small text-muted mb-0 user-info">{{email}}</p>
                        </li>

                        <div class="dropdown-divider"></div>

                        <li *ngIf="source != 'Personal'">
                            <a class="dropdown-item" href="#" target="blank"><i class="bi bi-person me-2"></i>nR Personal</a>
                        </li>

                        <div *ngIf="source != 'Personal'" class="dropdown-divider"></div>

                        <li>
                            <a class="dropdown-item" href="#" (click)="logout($event)"><i class="bi bi-box-arrow-right me-2"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </div>

    </div>
</nav>
