.navbar-brand {
	font-size: 26px;
}

.user-btns button {
	width: 90px;
}

.btn-outline-light:hover,
.btn-outline-light:visited,
.btn-outline-light:focus,
.btn-outline-light:active{
	color: #f8f9fc;
	background-color: transparent;
}
