<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-10">

            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="36%">Task Item</th>
                        <th width="14%">Priority</th>
                        <th width="18%">Start Date</th>
                        <th width="18%">End Date</th>
                        <th width="14%">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of taskItemsGridData">
                        <td>{{data?.task_item}}</td>
                        <td>{{data?.priority | date}}</td>
                        <td>{{data?.start_date | date}}</td>
                        <td>{{data?.end_date | date}}</td>
                        <td>{{data?.status | date}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<!-- printing components -->

<app-all-task-items-print #allTaskItemsPrintComponentReference
[hidden]="true" [taskItemsGridData]="taskItemsGridData">
</app-all-task-items-print>
