<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row mb-3">
        <div class="col-md-12">
            <button class="btn btn-secondary page-add-btn" (click)="addAccount.openModal()">New Account</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="45%">
                            Account Name
                            <app-table-sorting #accountNameSortingComponentReference
                            [sortField]="'account_name'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="25%">
                            Account No.
                            <app-table-sorting #accountNumberSortingComponentReference
                            [sortField]="'accountNumber'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="30%">
                            Bank Name
                            <app-table-sorting #bankNameSortingComponentReference
                            [sortField]="'bank_name'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of accountsGridData" (dblclick)="viewAccount(data.id)" class="table-pointer">
                        <td>{{data?.account_name}}</td>
                        <td>{{data?.account_number}}</td>
                        <td>{{data?.bank_name}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="bg-light">
                        <td colspan="3">
                            <app-table-pagination #tablePaginationComponentReference
                            [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAccounts($event, 20, '')"
                            ></app-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>

<!-- add account modal component -->

<app-add-account #addAccountComponentReference></app-add-account>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
