<div class="row my-3 text-center">
    <div class="col">
        <p class="h3">
            <a href="#" routerLink="/">
                <img [src]="'assets/images/forms/favicon.png'" alt="#" width="35" height="35" class="rounded me-1">
            </a>
            {{formHeading}}
        </p>
    </div>
</div>

<div class="row text-center mb-3">
    <div class="col-md-8 mx-auto">
        <p class="small">Registering to this website, you accept our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a></p>
    </div>
</div>
