<div class="row mb-3">
    <div class="col-md-12">
        <input #fileUploadReference type="file" requiredFileType="file" class="file-upload-element d-none" multiple (change)="onFileSelected($event) "/>
        <button class="btn btn-secondary attachment-btn" (click)="fileUploadReference.click()">
            Add Attachment
            <i class="bi bi-paperclip ms-2"></i>
        </button>
    </div>
</div>

<div class="row mb-2 g-1">
    <div *ngFor="let file of fileNames; index as i" class="col-md-12 mb-1">
        <div class="btn-group w-100" role="group">
            <button class="btn btn-outline-secondary file-name-btn" (click)="downloadFile(file.id, i)">{{formatFileName(file.file)}}</button>
            <button class="btn btn-outline-secondary btn-sm file-delete-btn" (click)="confirmDelete(file.id, i)"><i class="bi bi-trash"></i></button>
        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal #deleteModalComponentReference (confirmEvent)="deleteFile()"></app-delete-modal>
