<app-main-navbar
    [navBrand]="'nR Enterprise'"
    [source]="'Enterprise'"
></app-main-navbar>

<app-landing-loading *ngIf="isLoading"></app-landing-loading>

<app-suite-scrollnav *ngIf="!isLoading"
    (aboutEvent)="gotoAbout()"
    (pricingEvent)="gotoPricing()"
    (contactEvent)="gotoContact()"
></app-suite-scrollnav>

<app-guest-top *ngIf="!isLoading"
    [suiteName]="'Enterprise'"
    [primaryCaption]="'netRink Enterprise'"
    [secondaryCaption]="'Everything you need to manage and run your business operations effectively'"
    [features]="[
        {
            'title': 'Finance and accounting',
            'description': 'Take care of all your financial operations in one place',
            'imgLink': 'assets/images/features/finance.png'
        },
        {
            'title': 'Human Resource',
            'description': 'Manage all personnel related operations',
            'imgLink': 'assets/images/features/personnel.png'
        },
        {
            'title': 'Administrative operations',
            'description': 'Efficiently handle all office and administrative activities',
            'imgLink': 'assets/images/features/operations.png'
        },
        {
            'title': 'Assets management',
            'description': 'Manage and track all assets in your establishment',
            'imgLink': 'assets/images/features/assets.png'
        }
    ]"
></app-guest-top>

<app-about id="aboutComponentReference"
    [suiteName]="'Enterprise'"
    [suiteDetails]="''"
></app-about>

<app-pricing id="pricingComponentReference"></app-pricing>

<app-contact id="contactComponentReference"
    [suiteName]="'Enterprise'"
></app-contact>

<app-main-footer></app-main-footer>
