.module-heading a{
	color: #7f7f7f;
}

.module-heading a:hover{
	text-decoration: none;
	color: #2e2e2e;
}

.home-div .home-icons{
	height: 90px;
	width: 90px;
	border: solid;
	border-width: 5px;
	border-radius: 5px;
}

.home-div figure{
	color: #737373;
}

.home-div a:hover figure{
	color: #303030;
	font-weight: 600;
	text-decoration: none;
}

.home-div a:hover{
	text-decoration: none;
}

.top-divider{
	margin-bottom: 4px;
}

.bottom-divider{
  margin-top: 4px;
}

.list-pointer{
	cursor: pointer;
}

/* forms */

.page-form smart-input,
.page-form smart-drop-down-list,
.page-form smart-button{
	height: 32px;
}

.page-group-input{
	width: 88%;
  margin-right: 2% !important;
}

.page-group-button{
	width: 10%;
	padding: 0 !important;
	background-color: #f5f5f5;
}

.page-control-button{
	width: 100px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.module-select-window smart-window{
  width: 555px;
  height: 600px;
}

/* grid dialog forms */
/* TODO: only works when placed in components scss */

::ng-deep .smart-window.smart-grid-dialog .col-md-6{
  padding: 0;
  max-width: 100%;
}

::ng-deep .smart-grid-layout .col-sm-6{
  grid-column: span 12;
  max-width: 100%;
}

::ng-deep .smart-window.smart-grid-dialog [editor]:not([template=checkBox]){
  width: 350px;
  height: 32px;
  max-width: 100%;
}

::ng-deep .smart-window.smart-grid-dialog .column label{
  padding: 0;
  margin: 0;
}

/* portal modules */

.rinkout-icon{
	color: blue;
}

.rinkin-icon{
	color: green;
}

/* settings module */

.active-panel .subscription-panel{
  background-color: navy;
  color: white;
}

.billing-form smart-input,
.billing-form smart-button{
	height: 36px;
}

.billing-page-control-button{
	width: 120px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

::ng-deep .settings-tabs .smart-tabs-content-section,
::ng-deep .settings-tabs .smart-tabs-header-section{
  border: none;
}
