<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row settings-tabs">
        <div class="col-md-12">

            <smart-tabs #tabsReference class="w-100">
                <smart-tab-item label="Basic Profile">
                    <app-basic #basicComponentReference (additionalEvent)="sendAccount($event)"></app-basic>
                </smart-tab-item>
                <smart-tab-item label="Restaurant Logo">
                    <app-logo #logoComponentReference (logoEvent)="sendAccount($event)"></app-logo>
                </smart-tab-item>
                <smart-tab-item label="Location Details">
                    <app-location #locationComponentReference (locationEvent)="saveLocation($event)"></app-location>
                </smart-tab-item>
                <smart-tab-item label="Contact Details">
                    <app-contact #contactComponentReference (contactEvent)="saveContact($event)"></app-contact>
                </smart-tab-item>
            </smart-tabs>

        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
