<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row mb-3">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-9 mx-auto">

                    <form (ngSubmit)="doSearch()">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="dropdown">
                                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{searchFilter}}
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li *ngFor="let suite of searchFilterValues">
                                            <a class="dropdown-item" href="#" (click)="setSearchFilter($event, suite)">{{suite}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <input [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Search for users" aria-label="Search for users" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit" id="button-addon">Search</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <div *ngIf="isSearchResultsReady">
                <app-search-results
                    (viewDetailEvent)="gotoSearchDetail($event)"
                    [searchQuery]="searchQuery"
                    [searchResults]="searchResults"
                ></app-search-results>
            </div>

            <div *ngIf="isSearchDetailReady">
                <app-search-detail
                    [searchDetail]="searchDetail"
                ></app-search-detail>
            </div>

        </div>
    </div>

</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
