<app-main-navbar
    [navBrand]="'nR Hospital'"
    [source]="'Hospital'"
></app-main-navbar>

<app-suite-scrollnav
    (aboutEvent)="gotoAbout()"
    (pricingEvent)="gotoPricing()"
    (contactEvent)="gotoContact()"
></app-suite-scrollnav>

<app-user-top
    [suiteName]="'Hospital'"
    [accounts]="this.accounts"
    (selectAccount)="activateAccount($event)"
></app-user-top>

<app-about id="aboutComponentReference"
    [suiteName]="'Hospital'"
    [suiteDetails]="''"
></app-about>

<app-pricing id="pricingComponentReference"></app-pricing>

<app-contact id="contactComponentReference"
    [suiteName]="'Hospital'"
></app-contact>

<app-main-footer></app-main-footer>
