<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row mb-3">
        <div class="col-md-12">
            <button class="btn btn-secondary page-add-btn" (click)="newBudget.openModal()">New Budget</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">

            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="60%">Budget Name</th>
                        <th width="40%">Budget Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of budgetGridData" (dblclick)="viewBudget(data.id)" class="table-pointer">
                        <td>{{data?.budget_name}}</td>
                        <td>{{data?.budget_type}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

<!-- new budget modal component -->

<app-new-budget #newBudgetComponentReference></app-new-budget>
