<div class="row">
    <div class="col-md-8">

        <hr class="top-divider" />
        <hr class="bottom-divider" />

        <h4>Order Items</h4>

        <div class="row mb-3">
            <div class="col-md-12">
                <smart-button #addItemReference>Add Item</smart-button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <smart-grid #ordersGridReference class="w-100"
                [dataSource]="dataSource" [columns]="columns" [sorting]="sorting" [editing]="editing">
                </smart-grid>
            </div>
        </div>

    </div>
</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
