<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-darker">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mx-auto mb-2 py-2 mb-lg-0">
                <li class="nav-item"><a href="#" class="nav-link" (click)="onPersonalClicked($event)">Personal</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="onRestaurantClicked($event)">Restaurant</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="onSchoolClicked($event)">School</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="onEnterpriseClicked($event)">Enterprise</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="onAssociationClicked($event)">Association</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="onHospitalClicked($event)">Hospital</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="onHotelClicked($event)">Hotel</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="onShopClicked($event)">Shop</a></li>
                <li class="nav-item"><a href="#" class="nav-link" (click)="onProductionClicked($event)">Production</a></li>
            </ul>
        </div>

    </div>
</nav>
