<app-main-navbar
    [navBrand]="'netRink'"
    [source]="'Application'"
></app-main-navbar>

<app-main-scrollnav
    (personalEvent)="gotoPersonal()"
    (hospitalEvent)="gotoHospital()"
    (restaurantEvent)="gotoRestaurant()"
    (schoolEvent)="gotoSchool()"
    (enterpriseEvent)="gotoEnterprise()"
    (associationEvent)="gotoAssociation()"
    (hotelEvent)="gotoHotel()"
    (shopEvent)="gotoShop()"
    (productionEvent)="gotoProduction()"
></app-main-scrollnav>

<app-landing-top></app-landing-top>

<app-suite-left id="personalComponentReference"
    [suiteImageSrc]="'assets/images/suites/personal.png'"
    [suiteDivId]="'personalDiv'"
    [suiteName]="'Personal'"
    [suiteDescription]="'For individual time, finance and resources management'"
    [suiteUses]="[
        'Run all your personal management tasks in one place',
        'Organize all your daily activities with various modules',
        'Export and import data accross other netRink Applications',
        'Connect to other users through netRink portal'
    ]"
    [suiteButtonLink]="personalUrl">
</app-suite-left>

<app-suite-right id="restaurantComponentReference"
    [suiteImageSrc]="'assets/images/suites/restaurant.png'"
    [suiteDivId]="'restaurantDiv'"
    [suiteName]="'Restaurant'"
    [suiteDescription]="'For fast food joints, restaurants, everything that deals with food...'"
    [suiteUses]="[
        'Improve communication between the staff of your installation',
        'Keep track of all your customers for better customer service',
        'Avoid latency and mixing up of information for smooth operations',
        'Connect with your customers through netRink portal'
    ]"
    [suiteButtonLink]="restaurantUrl">
</app-suite-right>

<app-suite-left id="schoolComponentReference"
    [suiteImageSrc]="'assets/images/suites/school.png'"
    [suiteDivId]="'schoolDiv'"
    [suiteName]="'School'"
    [suiteDescription]="'For all educational institutions - basic schools to colleges'"
    [suiteUses]="[
        'Keep all information related to your institution in one place',
        'Plan and manage academic and extra curricural activities more efficiently',
        'Reduce the time and cost required to administratively mange your institution',
        'Connect with parents and other stakeholders through netRink portal'
    ]"
    [suiteButtonLink]="schoolUrl">
</app-suite-left>

<app-suite-right id="enterpriseComponentReference"
    [suiteImageSrc]="'assets/images/suites/enterprise.png'"
    [suiteDivId]="'enterpriseDiv'"
    [suiteName]="'Enterprise'"
    [suiteDescription]="'For administrative works in small, medium and large enterprises'"
    [suiteUses]="[
        'Manage your business within a centralized and integrated system',
        'Save cost by cutting down on use of paper',
        'Improve operational efficiency by eliminating repititive processes',
        'Connect with other businesses through netRink portal'
    ]"
    [suiteButtonLink]="enterpriseUrl">
</app-suite-right>

<app-suite-left id="associationComponentReference"
    [suiteImageSrc]="'assets/images/suites/association.png'"
    [suiteDivId]="'associationDiv'"
    [suiteName]="'Association'"
    [suiteDescription]="'For organized groups - clubs, societies, unions, organizations, ...'"
    [suiteUses]="[
        'Seamlessly run all activities and operations of your association',
        'Handle all membership records and activities with much ease',
        'Reduce administrative overheads and focus on the big picture',
        'Connect with members of your organization through netRink portal'
    ]"
    [suiteButtonLink]="associationUrl">
</app-suite-left>

<app-suite-right id="hospitalComponentReference"
    [suiteImageSrc]="'assets/images/suites/hospital.png'"
    [suiteDivId]="'hospitalDiv'"
    [suiteName]="'Hospital'"
    [suiteDescription]="'For clinics, small to large hospitals, and pharmacies'"
    [suiteUses]="[
        'Enhance the overall healthcare experience of your faclity',
        'Register patients and staff and access their medical data anytime',
        'Take care of everything from OPD to IPD management',
        'Interact with patients through netRink portal'
    ]"
    [suiteButtonLink]="hospitalUrl">
</app-suite-right>

<app-suite-left id="hotelComponentReference"
    [suiteImageSrc]="'assets/images/suites/hotel.png'"
    [suiteDivId]="'hotelDiv'"
    [suiteName]="'Hotel'"
    [suiteDescription]="'For hotels, motels, guest houses, inns, hostels, resorts, and many more'"
    [suiteUses]="[
        'Minimize the amount of time spent on administrative tasks',
        'Increase guest satisfaction by improving operational efficiency',
        'Integrate all functions of your facility in centralized environment',
        'Connect with your guests through netRink portal'
    ]"
    [suiteButtonLink]="hotelUrl">
</app-suite-left>

<app-suite-right id="shopComponentReference"
    [suiteImageSrc]="'assets/images/suites/shop.png'"
    [suiteDivId]="'shopDiv'"
    [suiteName]="'Shop'"
    [suiteDescription]="'For establishments that deal in the sale of goods and services'"
    [suiteUses]="[
        'Manage the day-to-day operations of your business efficiently',
        'Increase sales by improving customer service and building customer relationship',
        'Never lose data about your product or sales',
        'Connect with your customers and the rest of tne world'
    ]"
    [suiteButtonLink]="shopUrl">
</app-suite-right>

<app-suite-left id="productionComponentReference"
    [suiteImageSrc]="'assets/images/suites/production.png'"
    [suiteDivId]="'productionDiv'"
    [suiteName]="'Production'"
    [suiteDescription]="'For factories, workshops and production houses of all sizes'"
    [suiteUses]="[
        'Plan, organize, direct and control your production processes',
        'Coordinate all aspects of your facility within a single system',
        'Increase operational efficiency by streamlining your facility\'s processes',
        'Connect with your suppliers, distributers, and other production stakeholders through netRink portal'
    ]"
    [suiteButtonLink]="productionUrl">
</app-suite-left>

<app-main-footer></app-main-footer>
