<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="15%">
                            Transaction Date
                            <app-table-sorting #transactionDateSortingComponentReference
                            [sortField]="'transaction_date'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="20%">
                            Account Name
                            <app-table-sorting #accountNameSortingComponentReference
                            [sortField]="'account_name'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="18%">
                            Bank
                            <app-table-sorting #bankNameSortingComponentReference
                            [sortField]="'bank_name'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="20%">
                            Description
                            <app-table-sorting #descriptionSortingComponentReference
                            [sortField]="'description'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="15%">
                            Transaction Type
                            <app-table-sorting #transactionTypeSortingComponentReference
                            [sortField]="'transactiona_type'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="12%">
                            Amount
                            <app-table-sorting #amountSortingComponentReference
                            [sortField]="'amount'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of allTransactionsGridData; index as i">
                        <td>{{data?.transaction_date | date}}</td>
                        <td>{{data?.account.account_name}}</td>
                        <td>{{data?.account.bank_name}}</td>
                        <td>{{data?.description}}</td>
                        <td>{{data?.transaction_type}}</td>
                        <td>{{data?.amount}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="bg-light">
                        <td colspan="6">
                            <app-table-pagination #tablePaginationComponentReference
                            [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getAllTransactions($event, 20, '')"
                            ></app-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
