<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row page-form">
        <div class="col-md-6">

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-end">Menu Group :</label></div>
                <div class="col-md-8">
                    <smart-input #menuGroupInputReference class="w-100"></smart-input>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-md-4"><label class="float-end">Category :</label></div>
                <div class="col-md-8">
                    <smart-input #categoryInputReference class="w-100"></smart-input>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <smart-button #cancelButtonReference class="page-control-button float-end ms-1" routerLink="/home/menu/all-menu-groups">Cancel</smart-button>
                    <smart-button #deleteButtonReference class="page-control-button float-end ms-1" (click)="deleteMenuGroup()">Delete</smart-button>
                    <smart-button #saveButtonReference class="page-control-button float-end ms-1" (click)="saveMenuGroup()">Save</smart-button>
                </div>
            </div>

        </div>

    </div>

    <!-- -----------------------------------------------------------------------------------------------------------------------------
    menu items grid -->

    <div class="row">
        <div class="col-md-8">

            <hr class="top-divider" />
            <hr class="bottom-divider" />

            <!-- <div class="row mb-3">
                <div class="col-md-12">
                    <smart-button #newMenuItemButtonReference>New Item</smart-button>
                </div>
            </div> -->

            <smart-grid #menuItemsGridReference class="w-100"
            [dataSource]="dataSource" [columns]="columns" [sorting]="sorting" [editing]="editing">
            </smart-grid>

        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
