<div class="row">
    <div class="col-md-7">

        <div class="card shadow py-3">
            <div class="card-body">

                <p class="lead">Personal - Task Group</p>

                <div class="row mb-1">
                    <div class="col-md-4"><em><small class="float-end">Task Item :</small></em></div>
                    <div class="col-md-8">{{taskItemData.task_item}}</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4"><em><small class="float-end">Description :</small></em></div>
                    <div class="col-md-8">{{taskItemData.description}}</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4"><em><small class="float-end">Task Date :</small></em></div>
                    <div class="col-md-8">{{taskItemData.task_date | date}}</div>
                </div>
                <div class="row mb-1">
                    <div class="col-md-4"><em><small class="float-end">Status :</small></em></div>
                    <div class="col-md-8">{{taskItemData.status}}</div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
