<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <div *ngIf="rink?.sender.id==productionId; then senderBlock else recipientBlock"></div>

            <ng-template #senderBlock>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <i class="bi bi-arrow-up-circle me-2 rinkout-icon"></i>
                        <small><strong>RinkOut</strong> - {{rink?.rink_date | date: 'MMMM d, y, hh:mm:ss a'}}</small>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-1 align-middle">
                        <img src="../../../../../assets/images/utilities/logo-placeholder.jpg" alt="" width="40" height="40" class="rounded" />
                    </div>
                    <div class="col-md-5 align-middle">
                        <strong>{{rink?.recipient.name}}</strong>
                    </div>
                    <div class="col-md-5 align-middle">
                        Production - {{rink?.recipient.location}}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="offset-md-1 col-md-5">
                        <!-- <img *ngIf="rink?.rink_type == 'Appointment'" src="../../../../../assets/images/modules/calendar.png" alt="" width="25" height="25" class="me-2" />
                        <img *ngIf="rink?.rink_type == 'Note'" src="../../../../../assets/images/modules/notes.png" alt="" width="25" height="25" class="me-2" />
                        <img *ngIf="rink?.rink_type == 'Task'" src="../../../../../assets/images/modules/tasks.png" alt="" width="25" height="25" class="me-2" /> -->
                        {{rink?.rink_type}}
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1 col-md-5">
                        <em><small>Comment :</small></em><br>
                        {{rink?.comment}}
                    </div>
                </div>
            </ng-template>

            <ng-template #recipientBlock>
                <div class="row">
                    <div class="col-md-12">
                        <i class="bi bi-arrow-down-circle me-2 rinkin-icon"></i>
                        <small><strong>RinkIn</strong> - {{rink?.rink_date | date: 'MMMM d, y, hh:mm:ss a'}}</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1  align-middle">
                        <img src="../../../../../assets/images/utilities/logo-placeholder.jpg" alt="" width="40" height="40" class="rounded" />
                    </div>
                    <div class="col-md-5 align-middle">
                        <strong>{{rink?.sender.name}}</strong>
                    </div>
                    <div class="col-md-5 align-middle">
                        {{rink?.sender.location}}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="offset-md-1 col-md-5">
                        <!-- <img *ngIf="rink?.rink_type == 'Appointment'" src="../../../../../assets/images/modules/calendar.png" alt="" width="25" height="25" class="me-2" />
                        <img *ngIf="rink?.rink_type == 'Note'" src="../../../../../assets/images/modules/notes.png" alt="" width="25" height="25" class="me-2" />
                        <img *ngIf="rink?.rink_type == 'Task'" src="../../../../../assets/images/modules/tasks.png" alt="" width="25" height="25" class="me-2" /> -->
                        Production - {{rink?.rink_type}}
                    </div>
                </div>

                <div class="row">
                    <div class="offset-md-1 col-md-5">
                        <em><small>Comment :</small></em><br>
                        {{rink?.comment}}
                    </div>
                </div>
            </ng-template>

            <hr class="top-divider" />
            <hr class="bottom-divider" />

        </div>
    </div>

    <!-- rink details router -->

    <router-outlet></router-outlet>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
