<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row mb-3">
        <div class="col-md-12">
            <button class="btn btn-secondary page-add-btn" routerLink="/home/notes/new-note">New Note</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">

            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="50%">
                            Subject
                            <app-table-sorting #subjectSortingComponentReference
                            [sortField]="'subject'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="25%">
                            Created At
                            <app-table-sorting #createdAtSortingComponentReference
                            [sortField]="'created_at'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="25%">
                            Last Updated
                            <app-table-sorting #updatedAtSortingComponentReference
                            [sortField]="'updated_at'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of notesGridData" (dblclick)="viewNote(data.id)" class="table-pointer">
                        <td>{{data?.subject}}</td>
                        <td>{{data?.created_at | date}}</td>
                        <td>{{data?.updated_at | date}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="bg-light">
                        <td colspan="3">
                            <app-table-pagination #tablePaginationComponentReference
                            [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getNotes($event, 10, '')"
                            ></app-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
