<div #printElementReference class="container">

    <div class="row mb-4">
        <div class="col">

            <div class="row mb-3">
                <div class="col-md-3">
                    <label>Calendar Name :</label>
                </div>
                <div class="col-md-6">
                    {{calendarFormData?.calendar_name}}
                </div>
            </div>

        </div>
    </div>

    <br />

    <div class="row">
        <div class="col">

            <table class="table table-sm w-100">
                <thead>
                    <tr>
                        <th>Schedule</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of schedulesGridData">
                        <td>{{data.schedule}}</td>
                        <td>{{data.start_date | date:"yyyy-MM-dd hh:mm"}}</td>
                        <td>{{data.end_date | date:"yyyy-MM-dd hh:mm"}}</td>
                        <td>{{data.status}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
