<div class="row">
    <div class="col-md-12">

        <hr class="top-divider" />
        <hr class="bottom-divider" />

        <div class="row">

            <div class="col-md-6">

                <h4 class="mb-3">Income</h4>

                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="10%">No.</th>
                            <th width="55%">Item</th>
                            <th width="20%">Amount</th>
                            <th width="15%" class="p-0">
                                <button class="btn btn-secondary btn-sm w-100" (click)="addIncome.openModal()">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of incomeGridData; index as i">
                            <td>{{data?.item_number}}</td>
                            <td>{{data?.item_description}}</td>
                            <td>{{data?.amount}}</td>
                            <td class="p-0">
                                <button class="btn btn-sm border w-50" (click)="openEditIncome(i)"><i class="bi bi-pen"></i></button>
                                <button class="btn btn-sm border w-50" (click)="confirmDelete('Income', i, data.id)"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr class="bg-light">
                            <td colspan="2"></td>
                            <td>{{totalIncome}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-md-6">

                <h4 class="mb-3">Expenditure</h4>

                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="10%">No.</th>
                            <th width="55%">Item</th>
                            <th width="20%">Amount</th>
                            <th width="15%" class="p-0">
                                <button class="btn btn-secondary btn-sm w-100" (click)="addExpenditure.openModal()">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of expenditureGridData; index as i">
                            <td>{{data?.item_number}}</td>
                            <td>{{data?.item_description}}</td>
                            <td>{{data?.amount}}</td>
                            <td class="p-0">
                                <button class="btn btn-sm border w-50" (click)="openEditExpenditure(i)"><i class="bi bi-pen"></i></button>
                                <button class="btn btn-sm border w-50" (click)="confirmDelete('Expenditure', i, data.id)"><i class="bi bi-trash"></i></button>
                            </td>
                        </tr>
                        <tr class="bg-light">
                            <td colspan="2"></td>
                            <td>{{totalExpenditure}}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>

<!-- add and edit income and expenditore modal components -->

<app-add-income #addIncomeComponentReference (saveIncomeEvent)="postIncome($event)"></app-add-income>

<app-edit-income #editIncomeComponentReference (saveIncomeEvent)="putIncome($event)"></app-edit-income>

<app-add-expenditure #addExpenditureComponentReference (saveExpenditureEvent)="postExpenditure($event)"></app-add-expenditure>

<app-edit-expenditure #editExpenditureComponentReference (saveExpenditureEvent)="putExpenditure($event)"></app-edit-expenditure>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal #deleteModalComponentReference (confirmEvent)="deleteItem()"></app-delete-modal>
