<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row mb-3">
        <div class="col">
            <smart-button #buttonReference routerLink="/home/admin/search">Invite User</smart-button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <smart-grid #gridReference class="w-100"
            [dataSource]="dataSource" [columns]="columns" [sorting]="sorting" [filtering]="filtering"
            (onRowDoubleClick)="viewInvitation($event)">
            </smart-grid>
        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
