<div class="row m-2 page-form">
    <div class="col-md-6">

        <form class="page-form" [formGroup]="contactForm" (ngSubmit)="emitContact()">

            <div class="row mb-3">
                <div class="col-md-12">
                    <h5>Contact Details</h5>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4"><label class="mt-1">Email :</label></div>
                <div class="col-md-8">
                    <input formControlName="email" [disabled]="true" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4"><label class="mt-1">Phone No. :</label></div>
                <div class="col-md-8">
                    <input formControlName="phone" class="form-control form-control-sm w-100">
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-md-4"><label class="mt-1">Address :</label></div>
                <div class="col-md-8">
                    <teaxtarea formControlName="address" class="form-control form-control-sm w-100" rows="3"></teaxtarea>
                </div>
            </div>

            <div class="row mt-3 page-form-div">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-secondary btn-sm float-end page-form-btn">Save</button>
                </div>
            </div>

        </form>

    </div>
</div>
