<nav class="navbar navbar-expand navbar-light bg-white topbar d-block mb-4 static-top shadow">
    <div class="text-center module-heading">
        <a routerLink="./">
            <h3 class="mt-2"><i class="bi bi-house-fill me-2"></i>Home</h3>
        </a>
    </div>
</nav>

<div class="container home-div">

    <div class="row my-3">

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #portalTooltipReference [selector]="'portal'" [arrow]="true">
                Interact with people through netRink portal
            </smart-tooltip>

            <a id="portal" routerLink="/home/portal/dashboard">
                <figure>
                    <img src="../../../assets/images/modules/portal.png" class="home-icons" />
                    <figcaption>Portal</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #calendarTooltipReference [selector]="'calendar'" [arrow]="true">
                Manage all schedules and appointments
            </smart-tooltip>

            <a id="calendar" routerLink="/home/calendar/dashboard">
                <figure>
                    <img src="../../../assets/images/modules/calendar.png" class="home-icons" />
                    <figcaption>Calendar</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #budgetTooltipReference [selector]="'budget'" [arrow]="true">
                Plan and prepare personal budgets
            </smart-tooltip>

            <a id="budget" routerLink="/home/budget/dashboard">
                <figure>
                    <img src="../../../assets/images/modules/budget.png" class="home-icons" />
                    <figcaption>Budget</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #notesTooltipReference [selector]="'notes'" [arrow]="true">
                Put down notes and attach supporting files
            </smart-tooltip>

            <a id="notes" routerLink="/home/notes/dashboard">
                <figure>
                    <img src="../../../assets/images/modules/notes.png" class="home-icons" />
                    <figcaption>Notes</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #accountsTooltipReference [selector]="'accounts'" [arrow]="true">
                Manage all financial accounts togethet in one space
            </smart-tooltip>

            <a id="accounts" routerLink="/home/accounts/dashboard">
                <figure>
                    <img src="../../../assets/images/modules/accounts.png" class="home-icons" />
                    <figcaption>Accounts</figcaption>
                </figure>
            </a>
        </div>

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #tasksTooltipReference [selector]="'tasks'" [arrow]="true">
                Manage and track to-do tasks and activities
            </smart-tooltip>

            <a id="tasks" routerLink="/home/tasks/dashboard">
                <figure>
                    <img src="../../../assets/images/modules/tasks.png" class="home-icons" />
                    <figcaption>Tasks</figcaption>
                </figure>
            </a>
        </div>

    </div>

    <!-- ---------------------------------------------------------------------------------------- -->

    <div class="row my-3">

        <div class="col-md-2 col-sm-6 text-center">
            <smart-tooltip #settingsTooltipReference [selector]="'settings'" [arrow]="true">
                Set the general configurations of your modules
            </smart-tooltip>

            <a id="settings" routerLink="/home/settings/dashboard">
                <figure>
                    <img src="../../../assets/images/modules/settings.png" class="home-icons" />
                    <figcaption>Settings</figcaption>
                </figure>
            </a>
        </div>

    </div>

</div>
