<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row">

        <div class="col-md-3 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">All Task Groups</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{allTaskGroupsCount}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card border-left-secondary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">All Task Items</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{allTaskItemsCount}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Total Task Groups by Day</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas baseChart
                            [datasets]="taskGroupsLineChartData"
                            [labels]="taskGroupsLineChartLabels"
                            [options]="chartOptions"
                            [legend]="true"
                            [chartType]="'line'"
                        ></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold">Total Task Items by Day</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas baseChart
                            [datasets]="taskItemsLineChartData"
                            [labels]="taskItemsLineChartLabels"
                            [options]="chartOptions"
                            [legend]="true"
                            [chartType]="'line'"
                        ></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
