<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-7">

            <div class="row mb-3 page-form">
                <div class="col-md-3"><label class="float-end">Subject :</label></div>
                <div class="col-md-7">
                    <smart-input #subjectInputReference class="w-100"></smart-input>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <smart-editor #bodyEditorReference id="editor" class="w-100" [toolbarItems]="toolbarItems"></smart-editor>
                </div>
            </div>

            <div class="row mb-3 page-form">
                <div class="col-md-12">
                    <smart-button #cancelButtonReference class="page-control-button float-end ms-1">Cancel</smart-button>
                    <smart-button #saveButtonReference class="page-control-button float-end ms-1" (click)="saveNote()">Save</smart-button>
                </div>
            </div>

        </div>

        <div class="offset-md-1 col-md-4">
            <div class="row mb-3">
                <div class="col-md-12">
                    <input #fileUploadReference type="file" requiredFileType="file" class="file-upload-element d-none" multiple (change)="onFileSelected($event) "/>
                    <smart-button #attachmentButtonReference (click)="fileUploadReference.click()">
                        Add Attachment
                        <i class="bi bi-paperclip ms-2"></i>
                    </smart-button>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-prompt #connectionPromptComponentReference></app-connection-prompt>
