<div #printElementReference class="container">

    <div class="row">
        <div class="col">

            <table class="table table-sm w-100">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Date Create</th>
                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of notesGridData">
                        <td>{{data.subject}}</td>
                        <td>{{data.created_at | date:"yyyy-MM-dd hh:mm"}}</td>
                        <td>{{data.updated_at | date:"yyyy-MM-dd hh:mm"}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
