<span class="m-1">Page {{currentPage}} of {{totalPages}}</span>

<nav class="nav-light float-end" aria-label="Page navigation">
    <ul class="pagination pagination-sm mb-0 justify-content-end">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="First" (click)="changePage($event, 1)">
                <i class="bi bi-chevron-double-left"></i>
            </a>
        </li>
        <li *ngIf="currentPage > 1" class="page-item">
            <a class="page-link" href="#" aria-label="Previous" (click)="changePage($event, currentPage - 1)">
                {{currentPage - 1}}
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Current" (click)="changePage($event, currentPage)">
                {{currentPage}}
            </a>
        </li>
        <li *ngIf="currentPage != totalPages" class="page-item">
            <a class="page-link" href="#" aria-label="Next" (click)="changePage($event, currentPage + 1)">
                {{currentPage + 1}}
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Last" (click)="changePage($event, totalPages)">
                <i class="bi bi-chevron-double-right"></i>
            </a>
        </li>
    </ul>
</nav>
