<div class="bg-darker text-center">
    <div class="container">

        <div class="row pt-5">
            <div class="col-md-12">
                <h1 class="display-2 text-white">Do more with ease!</h1>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-md-6 offset-md-3">
                <p class="lead text-white">Run all of your institution's operations with efficiency on a single system</p>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-md-12">
                <a href="#" [routerLink]="'/auth/signup'">
                    <button class="portal-btn btn btn-lg btn-danger">create netRink account</button>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="bg-light py-5">
    <div class="container">

        <div class="row py-3">
            <div class="col-md-3">
                <img [src]="'assets/images/features/easy_use.png'" height="40" width="40">
                <p class="lead my-2">Easy to use</p>
                <p class="h6">Clear and concise interface to get you started quickly</p>
            </div>
            <div class="col-md-3">
                <img [src]="'assets/images/features/single_signon.png'" height="40" width="40">
                <p class="lead my-2">Single sign-on</p>
                <p class="h6">Use one set of credentials to access all netRink products</p>
            </div>
            <div class="col-md-3">
                <img [src]="'assets/images/features/cost_savings.png'" height="40" width="40">
                <p class="lead my-2">Cost savings</p>
                <p class="h6">Get regular, instant updates and new features at no additional costs</p>
            </div>
            <div class="col-md-3">
                <img [src]="'assets/images/features/file_access.png'" height="40" width="40">
                <p class="lead my-2">Easy file access</p>
                <p class="h6">Access your files from anywhere and on any device</p>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-md-3">
                <img [src]="'assets/images/features/highly_scalable.png'" height="40" width="40">
                <p class="lead my-2">Highly scalable</p>
                <p class="h6">Upgrade or downgrade your plan as your requirements change</p>
            </div>
            <div class="col-md-3">
                <img [src]="'assets/images/features/feature_rich.png'" height="40" width="40">
                <p class="lead my-2">Feature rich</p>
                <p class="h6">Countless functional capabilties avialable to see you through</p>
            </div>
            <div class="col-md-3">
                <img [src]="'assets/images/features/data_security.png'" height="40" width="40">
                <p class="lead my-2">Data Security</p>
                <p class="h6">Secure connection and data storage on reliable cloud servers</p>
            </div>
            <div class="col-md-3">
                <img [src]="'assets/images/features/low_maintenance.png'" height="40" width="40">
                <p class="lead my-2">Low maintenace cost</p>
                <p class="h6">Little to no upfront fees for equipment setup and maintenace</p>
            </div>

        </div>

    </div>
</div>
