<app-main-navbar
    [navBrand]="'nR Restaurant'"
    [source]="'Restaurant'"
></app-main-navbar>

<app-landing-loading *ngIf="isLoading"></app-landing-loading>

<app-suite-scrollnav *ngIf="!isLoading"
    (aboutEvent)="gotoAbout()"
    (pricingEvent)="gotoPricing()"
    (contactEvent)="gotoContact()"
></app-suite-scrollnav>

<app-guest-top *ngIf="!isLoading"
    [suiteName]="'Restaurant'"
    [primaryCaption]="'netRink Restaurant'"
    [secondaryCaption]="'Effective running of the day to day activities of your catering institution'"
    [features]="[
        {
            'title': 'Bills and payments',
            'description': 'Automatically generate bills and receive payments from guests',
            'imgLink': 'assets/images/features/bills.png'
        },
        {
            'title': 'Operations management',
            'description': 'Handle all operations of your facility with ease',
            'imgLink': 'assets/images/features/operations.png'
        },
        {
            'title': 'Reservations and orders',
            'description': 'receive and respond to reservations and orders',
            'imgLink': 'assets/images/features/orders.png'
        },
        {
            'title': 'Guests management',
            'description': 'Manage your guests for good customer relationship',
            'imgLink': 'assets/images/features/guests.png'
        }
    ]"
></app-guest-top>

<app-about id="aboutComponentReference"
    [suiteName]="'Restaurant'"
    [suiteDetails]="''"
></app-about>

<app-pricing id="pricingComponentReference"></app-pricing>

<app-contact id="contactComponentReference"
    [suiteName]="'Restaurant'"
></app-contact>

<app-main-footer></app-main-footer>
