<div #printElementReference class="container">

    <div class="row">
        <div class="col">

            <table class="table table-sm w-100">
                <thead>
                    <tr>
                        <th>Account Name</th>
                        <th>Account No.</th>
                        <th>Bank Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of accountsGridData">
                        <td>{{data.account_name}}</td>
                        <td>{{data.account_number}}</td>
                        <td>{{data.bank_name}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>
