<div class="bg-darker navbar-dark py-5">
    <div class="container pt-5">
        <div class="row">

            <div class="col-md-4 text-white">
                <p class="h3">netRink</p>
                <p><small>&copy; 2018 - netRink. All rights reserved</small></p>
            </div>

            <div class="col">
                <p class="h5 text-white mb-4">PRODUCTS</p>
                <ul class="navbar-nav">
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">PERSONAL</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">RESTAURANT</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">SCHOOL</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">ENTERPRISE</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">ASSOCIATION</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">HOSPITAL</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">HOTEL</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">SHOP</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">PRODUCTION</a><p></li>
                </ul>
            </div>

            <div class="col">
                <p class="h5 text-white mb-4">COMPANY</p>
                <ul class="navbar-nav">
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">ABOUT US</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">CAREERS</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">CONTACT US</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">TERMS & CONDITIONS</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">PRIVACY POLICY</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">HELP</a><p></li>
                </ul>
            </div>

            <div class="col">
                <p class="h5 text-white mb-4">FOLLOW</p>
                <ul class="navbar-nav">
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">YOUTUBE</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">INSTAGRAM</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">FACEBOOK</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">LINKEDIN</a><p></li>
                    <li class="nav-item"><p><a href="#" class="nav-link py-1">TWITTER</a><p></li>
                </ul>
            </div>

        </div>
    </div>
</div>
