<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <!-- customer page form -->

    <app-customer-form #customerFormComponentReference></app-customer-form>

    <div class="row page-form">
        <div class="col-md-12">
            <smart-button #cancelButtonReference class="page-control-button float-end ms-1" routerLink="/home/customers/all-customers">Cancel</smart-button>
            <smart-button #saveButtonReference class="page-control-button float-end ms-1" (click)="saveCustomer()">Save</smart-button>
        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
