<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-7">
            <smart-grid #gridReference class="w-100"
            [dataSource]="dataSource" [columns]="columns" [sorting]="sorting" [filtering]="filtering"
            (onRowDoubleClick)="viewUser($event)">
            </smart-grid>
        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
