<div class="bg-darker text-center" id="homeTopDiv">
    <div class="container">

        <div class="row pt-5">
            <div class="col-md-12">
                <h1 class="display-2 text-white">Do more with ease!</h1>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-md-6 offset-md-3">
                <p class="lead text-white">{{secondaryCaption}}</p>
            </div>
        </div>

        <div class="row pb-5">
            <div class="col-md-12">
                <a href="#">
                    <button class="create-btn btn btn-lg btn-danger" (click)="createAccount($event)">create {{ suiteName }} account</button>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="bg-light py-5" id="homeBottomDiv">
    <div class="container">

        <div class="row">
            <div class="col-md-3" *ngFor="let feature of features">
                <img src={{feature.imgLink}} height="40" width="40">
                <p class="lead my-2">{{feature.title}}</p>
                <p class="h6">{{feature.description}}<p>
            </div>
        </div>

    </div>
</div>
